.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */
.navbar ul {
    display: flex;
    width: 300px;
}
.navbar li {
    width: 150px;
    background-color: #1C2128;
    border: 1px solid #fff;
    padding: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
} 
.navbar li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/*
cores
#2D333B
#1C2128
#cdd9e5
*/