.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    height: auto;

}

.search {
    background-color: #1C2128;
    color: #cdd9e5;

    width: 100%;

    display: flex;
    align-items: center;

    padding: 10px;
}

.search-icon {
    font-size: 20px;
    margin-left: 5px;
}

.search-input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
    font-size: 16px;
    border: none;
}

.search-collabatorator {
    width: 300px;
    justify-self: flex-end;
    border: 1px solid #2D333B;
}

.search-result {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.collaborators {
    width: 300px;
    border: 1px solid #2D333B;
}

.collaborators h2 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #1C2128;
    color: #fff;
}

.search-result img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.add-collaborator {
    font-size: 30px;
}


/*
cores
#2D333B
#1C2128
#cdd9e5
*/